@import "../../../PublicStyles.scss";
.MainCarouselMasterContainer {
    width: 100%;
    height: 60vh;
    .CarouselItem {
        width: 100vw;
        height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            grid-column: 1/2;
            grid-row: 1/2;
        }

        .Controllers {
            display: grid;
            grid-template-columns: 8% 84% 8%;
            grid-template-rows: 5% 90% 5%;
            grid-column: 1/2;
            grid-row: 1/2;
            align-items: center;
            justify-items: center;

            .ArrowContainer {
                width: 40px;
                height: 40px;
                background-color: rgba(0, 0, 0, 0.205);
                border-radius: 5px;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    filter: invert(1);
                    height: 60%;
                    width: 60%;
                }
            }

            .ArrowContainerRight {
                grid-column: 3/4;
                grid-row: 2/3;
            }

            .ArrowContainerLeft {
                grid-column: 1/2;
                grid-row: 2/3;
                img {
                    transform: rotate(180deg);
                }
            }

            .TextAndButtons {
                grid-column: 2/3;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: 240px 95px;
                grid-template-rows: 35px 100px 40px;
                justify-self: flex-start;
                span {
                    color: white;
                }

                .HeaderTitle {
                    font-size: 2rem;
                    grid-column: 1/3;
                    grid-row: 1/2;
                }
                .SaleText {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-size: 6rem;
                    font-weight: 600;
                    align-self: center;
                }
                .SubSaleText {
                    grid-column: 2/3;
                    grid-row: 2/3;
                    display: flex;
                    flex-direction: column;
                    .BigSpan {
                        font-size: 2rem;
                    }

                    .SmaillSpan {
                    }
                }

                .ButtonsContainer {
                    grid-column: 1/3;
                    grid-row: 3/4;
                    display: flex;
                    justify-self: flex-end;
                    
                    .BaseButton {
                        padding: 5px 5px;
                        min-width: 100px;
                        margin: 0px 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{
                            font-size: $SmallFont1;
                        }
                    }

                    .ButtonShop {
                        background-color: #9B9B9B;
                    }

                    .ButtonFrom {
                        background-color: #4A4A4A;
                    }
                }
            }
        }
    }
}
