@font-face {
  font-family: "RelewayCustom";
  src: url("./Assets//Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

body {
  
  margin: 0;
  font-family: "RelewayCustom";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
