$MaxWidth: 1200px;

$SmallFont4: 0.5rem;
$SmallFont3: 0.6rem;
$SmallFont2: 0.7rem;
$SmallFont1: 0.8rem;
$SmallFont0: 0.9rem;
$NormalFont: 1rem;
$BingFont0: 1.1rem;
$BingFont1: 1.2rem;
$BingFont2: 1.3rem;
$BingFont3: 1.4rem;
$BingFont4: 1.5rem;
